.card {
  background-color: #e7e6e6;
  width: 350px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.center {
  line-height: 1.5;
  height: 300px;
  margin: auto;
  width: 50%;
  text-align: center;
  vertical-align: middle;
}

.container {
  height: inherit;
  width: inherit;

  border-radius: 0px 0px 30px 30px;
  height: 25%;
}

.font {
  font-family: Lato;
}

.card-set {
  height: 50%;
  width: 50%;
  border-width: thin;
  border-color: black;
  border-style: solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

  h4 {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 8px;
  width: inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.subset {
  font-size: 12px;
}

.wrap {
  overflow: hidden;
  height: 75%;
  border-radius: 30px 30px 0px 0px;
}

header {

  background-color: #c4bfc0
}

h5 {
  font-size: 12px;
}

button {
  height: 45px;
  width: 110px;
  border: none;
}

body {
  background-color: #c4bfc0;
}

#main-body {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
  padding: 20px;
}

#content {
  padding-left: 30px;
  float: left;
  margin-left: 450px;
  margin-top: 200px;
  background: #cfb991;
  width: 450px;
  Height: 200px;
  border-radius: 25px;
}

.page-container {
  Width: auto;
  height: 750px;
  background-image: url(../images/perusall.png);
}

body {
  font-family: Georgia, serif;
  font-size: 18pt;
}

#sidebar {
  background-color: #505050;
  height: 40px;
  width: 100vw;
}

#sidebar button {
  height: 40px;
  width: 10vw;
  overflow: hidden;
  border: 3px solid #505050;
  background-color: #f1f1f1;
  float: left;
  margin-right: 20px;
  transition-property: font-size;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-size: 17px;
  text-align: center;
}

/* Changes color of + expands menu buttons on hover*/
#sidebar button:hover {
  background-color: #f5f855;
  font-size: 19px;
}

/* JS changes class to this on tab click, then this changes color */
.activeTab {
  background-color: #bfc227;
}

/* Style the tab content */
.tab-content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #cccccc;
  border-top: none;
}

.assignment-months {
  font-family: "Roboto", sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

.assignment-months h3.month {
  font-size: 40px;
  text-align: center;
  border-bottom: 1px solid #b1b1b1;
}

.assignment-months .assignment {
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
  display: flex;
  border-radius: 8px;
  margin: 32px 0;
}

.assignment .due-date {
  background: #222;
  min-width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  padding: 8px 48px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px 0 0 8px;
  font-size: 56px;
}

.assignment .event-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

.assignment .event-right h3.event-title {
  font-size: 24px;
  margin: 24px 0 10px 0;
  color: #218bbb;
  text-transform: uppercase;
}

.assignment .event-right .due-time {
  background: #fff8ba;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 8px;
  border-radius: 16px;
  margin: 24px 0;
  font-size: 14px;
}

.assignment .event-right .due-time img {
  width: 25px;
  height: auto;
  padding-right: 8px;
}

@media (max-width: 550px) {
  .assignment {
    flex-direction: column;
  }

  .assignment .due-date {
    border-radius: 8px 8px 0 0;
    display: inline-block;
    font-size: 24px;
    padding: 10px 0;
  }
}